*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  /* header-section */
  .site-wrapper{
      margin: 0;
      font-size: 1.2rem;
      text-decoration: none;
  }
  
  .site-header{
    background-color: #220202;
    display: flex;
    align-items: center;
    width: 100%; 
    position: fixed;
  }
  
  .navbar{
      display: flex;
      margin-left:auto; 
  }
  
  .navbar a{
    padding: 1.5rem 1.5rem;
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Metal Menia";
  }
  
  .navbar a:hover{
    background: rgb(59, 58, 58);
      
  }
  
  .logo{
    height: 60px;
    width: 60px;
    display: flex;
  }
  
  /* profile-section */
  .hero{
    height: 75vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image:
    linear-gradient(to right bottom, rgba(99, 19, 5, 0.4), rgba(255, 0, 0, 0.4)) , 
    url(../images/shopview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .profile {
    margin-top: 60px;
    line-height: 1.5;
    color: white;
    justify-content: center;
    text-align: center;
  }
  
  .profile h2{
    font-size: 50px;
    font-weight: bold;
  }
  
  .profile p{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em; 
    text-align: left;
    font-size: 24px;
    font-family: "Metal Menia";
    font-weight: normal;
  }
  
  .profile h3{
    font-size: 20px;
    justify-content: center;
    text-align: center;
  }
  
  .btn{
    padding: 0.3rem 2rem;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(250, 250, 252);
    background: rgb(61, 4, 4);
   
  }
  
  .btn:hover{
    border-color: rgb(112, 8, 8);
    background: rgb(59, 58, 58);
    box-shadow: 5px 5px 5px 5px rgb(58, 2, 2);
  
  }
  
  
  /* slideshow */
  .slideshow{
    width: 50px;
    margin: 0 auto;
    padding-top: 0.5px;
    height: 400px;
    box-sizing: border-box;
    justify-content: center;
  }
  
  .content{
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    margin: auto;
    
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
  }
  
  .content-carrousel{
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 25s infinite linear;
    transform-style: preserve-3d;
  }
  
  .content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
  }
  
  .content-carrousel figure{
    width: 200px;
    height: 150px;
    border: 2px solid #c41010;
    position: absolute;
  }
  
  .content-carrousel figure:nth-child(1){
    transform:rotateY(0deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(2){
    transform:rotateY(40deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(3){
    transform:rotateY(80deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(4){
    transform:rotateY(120deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(5){
    transform:rotateY(160deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(6){
    transform:rotateY(200deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(7){
    transform:rotateY(240deg) translateZ(300px);
  }
  .content-carrousel figure:nth-child(8){
    transform:rotateY(280deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(9){
    transform:rotateY(320deg) translateZ(320px);
  }
  
  .shadow{
    position: absolute;
    box-shadow: 5px 5px 5px 5px rgb(58, 2, 2);
    border-radius: 2px;
  }
  
  .content-carrousel img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
  }
  
  .content-carrousel img:hover{
    transition: scale(1.2);
    transition: all 300ms;
  }
  
  @keyframes rotar{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
    
  }
  
  /* about */
  .about{
    background-image:
    linear-gradient(to right bottom, rgba(158, 5, 5, 0.4), rgba(255, 0, 0, 0.4)) , 
    url(../images/GMC_insideview.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 4rem 1rem;
  }
  
  .about_text{
    background-color: transparent;
    padding: 5rem;
    outline: 2px solid#FFF;
    outline-offset: -2.5em;
    color: #FFF;
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
  }
  
  .about_text p{
    font-family: "Metal Menia";
    line-height: 30px;
    font-size: 20px;
    display: inline;
    text-align: left;
    max-width: 120vh;
  }

  
  .about h1{
    position: fixed;
    color: rgb(51, 7, 7); 
    position: absolute;
    font-size: 40px;
    font-weight: 40px;
    font-family: Lobster, monospace;
    margin-left: 60px;
    background-color: #FFF;
    padding: 0.2rem 0.5rem;
  }
  
  
  .about-us-first{
    display: block;
    color: rgb(221, 233, 58);
  }
  
  .ceo{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    width: 100px;
    height: 100px;
    margin-right: 3rem;
  }
  
  .ceo:hover {
    transform: scale(1.2);
  }
  
  .gee{
    margin-top: 0.5rem;
    line-height: 0.5rem;
    display: block;
  }

 
  
  
  /* Service */
  .Service{
    text-align: left;
    padding: 4rem 1rem;
  }
  
  .Service-header{ 
    position: absolute;
    font-size: 40px;
    font-weight: 40px;
    font-family: Lobster, monospace;
    margin-left: 80px;
  }
  
  .Service-para{
    margin: 0 auto 0 auto;
    margin-top: 40px;
    border-radius: 5px;
    line-height: 1.8;
    color: #1b1616;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    padding: 0.5rem 0.5rem; 
    margin-left: 70px;
  }
  
  .video{
    margin: 5px;
    max-width: 100%;
    padding: 0.9rem 4.5rem; 
    margin-left: 50px;
  }
  
  .caption{
    margin-left: 120px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
  }
  
  
  
  .slideshow2{
    width: 100%;
    margin: 60px auto;
  } 
  
  
  #outerbox{
      width: 100%;
      justify-content: center;
      max-width: 600px;
      overflow: hidden;
      align-items: center;
      margin: 0 auto;
      box-shadow: 0px 0px 5px 5px rgb(58, 2, 2);
      border-radius: 2px;
      animation-play-state: paused;
      cursor: pointer;
  }
  
  #outerbox :hover{
      animation-play-state: paused;
      cursor: pointer;
      
  }
  
  #sliderbox{
      position: relative;
      display: inline-block;
      animation-name: lamin;
      animation-duration: 10s;
      width: 2400px;
      animation-iteration-count: infinite;
  }
  
  
  #sliderbox img{
      float: left;
      
  }
  .img{
      width: 800px;
      height: 300px;
  }
  
  
  @keyframes lamin{
      0%
      {
          left: 0px;    
      }
      20%
      {
          left: 0px;
      }
      25%
      {
          left: -600px
      }
      45%
      {
          left: -600px;
      }
      50%
      {
          left: -1200px;
      }
      70%
      {
          left: -1200px;
      }
      75%
      {
          left: -1800px;
      }
      95%
      {
          left: -1800px;
      }
      100%
      {
          left: -2400px;
      } 
  
  }
  
  /* Our Team */
  
  .wrapper{
    display: block;
  
  }
  
  .wrapper h1{
    font-size: 40px;
    margin-bottom: 70px;
    text-align: center;
    text-decoration: underline;
    font-family: Lobster, monospace;
  }
  
  .team{
     display: flex;
     text-align: center;
     width: auto;
     justify-content: center;
  }
  
  .team .team_member{
     background: #fff;
     margin: 4px;
     margin-bottom: 50px;
     width: 280px;
     text-align: auto;
     padding: 20px;
     line-height: 20px;
     color: #8e8b8b;
     position: relative;
  }
  
  .team .team_member h3{
     color: #13010d;
     font-size: 26px;
     margin-top: 50px;
  }    
  
  .team .team_member p.role{
     color: #ccc;
     font-size: 12px;
     text-transform: uppercase;
     margin: 12px 0;
  }
  
  .team .team_member .team_img{
     border-radius: 50%;
     position: absolute;
     top: -50px;
     left: 50%;
     transform: translateX(-50px );
     clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
     margin-right: 2rem;
  }
  
  .team .team_member .team_img img{
     width: 100px;
     height: 100px;
  }
  
  .team .team_member .team_img img:hover {
     transform: scale(1.2);
  }
  
  
  /* Location */
  
  .Contacts{
    margin-top: 0;
    /* display: inline-block; */
    margin-left: 60px;
  }
  
  .Contacts h1{
    font-size: 40px;  
    text-decoration: underline;
    padding: 1rem 0rem; 
    font-family: Lobster, monospace;
  }
  
  .Contacts p{
    line-height: 2.0;
    margin-right: 2rem;
    display: block;
    margin-left: 0;
    padding: 0.5rem;
    font-weight: bold;
  }
  
  .GMC{
    width: 900px;
    height:500px;
    margin-left: 0; 
  }
  
  
  
  /*Footer */
  .primary-footer{
    margin-top: 25px;
    background-color: rgb(75, 12, 7);  
    display: flex;
    color: white;
  }
  
  .contact{
    margin-top: 5px;
    margin-left: 80px;
    line-height: 1.8;
    width: 30%;
    margin-right: 20px;
    color: white;
  }
  
  .tel a{
    color: white;
    display: block;
  }
  
  .site-map{
    margin-top: 15px;
    width: 30%;
    display: block;
    color: white;
  }
  
  .footer-nav a{
    color: white;
    display: flex;  
    text-decoration: none;
    padding: 0.5rem; 
  }
  
  .dial{
    width: 30%;
    display: block;
    color: white;
    margin-top: 15px;
    
  }
  
  
  
  .secondary-footer{
    height: 40px;
    display: flex;
    background-color: rgb(54, 6, 3); ; 
  }
  
  .copy{
    margin-left: 30px;
    margin-top: 10px;
    color: white;
  }
  
  .end{
    margin-top: 10px;
    margin-right: 20px;
    text-decoration: underline;
    margin-left: auto;
    color: white;
  }
